node_modules/
dist/
cdk.out/
*.js
*.d.ts
*.js.map
!vitest.config.ts
!cdk.json
!jest.config.js
!infra/lib/cf-functions/*.js

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# env
.env
.env.*
!.env.example
